body {
    font-family: sans-serif;
    background-color: orange;
    color: white;
}

.passwordGen {
    font-size: 16px;
    border-radius: 20px;
    padding: 26px 40px;
    background-color: rgb(0, 0, 0, 0.5);
    width: 30rem;

    margin: auto;
    align-items: center;
    justify-content: center;
}

.passwordGen p {
    color: gray;
}

#length {
    width: 5em;
}

.passwordGen h2 {
    justify-content: center;
    display: flex;
}

.passwordGen div {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

}

.passwordBox {
    background-color: white;
    border-radius: 10px;
    height: 55px;
    color: black;
    display: flex;
    padding: 0px 15px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 200px;
    background-color: rgb(88, 151, 209);
    color: rgb(255, 255, 255);
    padding: 16px 20px;
    border-radius: 5px;
    margin: 7px;
    font-size: 20px;
}

@media screen and (max-width: 500px) {

    .passwordGen {
        width: 18rem;
    }

    .buttons button {
        width: 120px;
    }
}

@media screen and (max-width: 400px) {

    .passwordGen {
        width: 16rem;
    }

    .buttons button {
        width: 100px;
        font-size: 12px;
        padding: 10px 6px;
    }
}